.pie-pagina{
    width: 100%;
    background-image: $fondo;
    color: $colorPrimary;
    border: $border2px;
    text-align: $alinear;
    margin-top: 2rem;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: $flex;
    justify-content: $alinear;
    align-items: $alinear;
}

.pie-pagina .grupo-1 .box figure .logo__footer{
    width: 80px;
}

.copy{
    margin-top: 2rem;
}
.azufre{
    color: $colorPrimary;
}