@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,400&display=swap');

/// Tipografia

$fontRoboto:'Roboto', sans-serif;

/// Colores
$colorPrimary: azure;

$colorSecondary:rgb(42, 137, 252);

$border2px: solid 2px rgb(42, 137, 252);



/// Flex 

$flex: flex;

$alinear: center;

///